@import '../../../../../assets/styles/variables';

.control-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: black;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background: white;
  cursor: pointer;
}

.slider:hover {
  opacity: .8;
}