@import '../../../../../assets/styles/variables';

.home__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: $primary;
  color: white;
}

.home__navbar_item {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  &.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    content: "";
  }
}
