@import '../../../../../assets/styles/variables';

$radius: 0.5rem;

.wp-control-form {
  position: relative;
  height: 3.5rem;
  font-size: 1.4rem;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    border: 2px solid white;
    border-radius: $radius;
    outline: none;
    background: none;
    color: white;

    &:hover {
      border-color: $secondaryDark;
    }

    &:focus {
      border-color: $secondaryLight;
    }

    &.wp-control-form__invalid {
      border: 2px solid #ea6868;
    }
  }

  &__label {
    position: absolute;
    left: .7rem;
    top: 0.65rem;
    padding: 0 0.5rem;
    color: white;
    cursor: text;
    transition: top 200ms ease-in,
      left 200ms ease-in,
      font-size 200ms ease-in;
    background-color: $primary;

    &.wp-control-form__invalid {
      color: #ea6868;
    }
  }
}

.wp-control-form__input:focus ~ .wp-control-form__label,
.wp-control-form__input:not(:placeholder-shown).wp-control-form__input:not(:focus) ~ .wp-control-form__label{
  top: -0.5rem;
  font-size: 1rem;
  left: 0.8rem;
}