$primary: #261E1C;
$primaryLight: #4E4543;
$primaryDark: #000;
$secondary: #FFF176;
$secondaryLight: #FFFFA8;
$secondaryDark: #CABF45;
$textHighlight: #FFECB3;

$fontSizeNormal: 1.6rem;
$fontSizeSmall: 1.06rem;
$fontSizeMedium: 2.4rem;
$fontSizeLarge: 3.6rem;
