@import '../../../../../assets/styles/variables';

main {
  min-height: calc(100vh - #{$headerHeight});
  padding-top: 5px;
  background-color: $primary;
}

.wp-carousel {
  height: 200px;
}

.wp-collection {
  padding-top: 21px;
  padding-left: 23px;
  padding-right: 23px;
}