<ng-container *ngIf="episode && episodes && volumes && volume">
  <app-episode-navbar
    [chapters]="episodes"
    [volumes]="volumes"
    [currentChapter]="episode"
    [currentVolume]="volume"
    (changeChapter)="onChangeChapter($event)"
    (changeVolume)="onChangeVolume($event)"
  ></app-episode-navbar>
  <div class="episode-body">
    <img src="http://vps-2ff37a69.vps.ovh.net/static/mangas/{{mangaName}}-{{mangaId}}/{{episode.episodeNumber}}/{{currentScene}}.jpg" alt="">
    <div class="previous" (click)="onClickPrevious()"></div>
    <div class="next" (click)="onClickNext()"></div>
  </div>
  <app-episode-control-bar
    [maxValue]="episode.pagesCount"
    [initValue]="currentScene"
    (changeValue)="onChangeValueControlbar($event)"
  ></app-episode-control-bar>
</ng-container>
