@import '../../../../../assets/styles/variables';

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $primary;

  .form-container {
    display: flex;
    flex-direction: column;
    color: white;
    h1 {
      font-family: 'Alegreya', serif;
      font-size: 3rem;
    }
  }
}
