@import '../../../../../assets/styles/variables';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $primary;
  color: white;

  .form-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px;
    border: 2px white solid;
    border-radius: 24px;

    h1 {
      font-family: 'Alegreya', serif;
      font-size: 3rem;
    }
    fa-icon {
      position: absolute;
      font-size: 5rem;
      top: -5rem;
      left: calc(50% - 3rem - 5px);
      background-color: $primary;
      padding: 0 5px;
    }
  }

  .wp-row {
    display: flex;
    color: white;
    justify-content: space-between;
  }
}
