@import '../../../../../assets/styles/variables';

.wp_manga__container {
  
}

p {
  color: $textHighlight;
  font-size: 1.28rem;
  font-weight: 400;
}

.wp_manga_container__content {
  position: relative;
}

.mangas__container {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 100%;
  padding-top: 5px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity; 
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-control {
  position: absolute;
  display: flex;
  width: 40px;
  height: 100%;
  top: 0;
  align-items: center;
  background: rgb(255,255,255);
  color: white;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background-color: rgba(38,30,28,.5) !important;
  }

  &.previous {
    left: 0;
    background: linear-gradient(90deg, rgba(38,30,28,1) 0%, rgba(255,255,255,0) 100%); 
    justify-content: flex-start;
  }

  &.next {
    right: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(38,30,28,1) 100%); 
    justify-content: flex-end;
  }
}
