@import '../../../../assets/styles/variables';

header {
  display: flex;
  height: $headerHeight;
  padding: 5px;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: 'Alegreya', serif;
  font-size: 19px;
  font-weight: 500;
  font-style: italic;

  span {
    margin: auto 0;
    cursor: pointer;
  } 

  section {
    margin: auto 0;
    font-size: 1.6rem;

    a {
      color: white;

      &.active {
        color: $textHighlight;
      }
    }

    fa-icon {
      cursor: pointer;
      padding-right: 7px;
    }
  }
}